@font-face {
  font-family: "MiSans";
  src: url("../../assets/fonts/MiSans-Regular.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("../../assets/fonts/MiSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: "MiSans", system-ui;
  color: #434343;
}

h1 {
  font-weight: 400 !important;
}

/* 对表格组件样式统一处理 */
.ant-table-wrapper .ant-table {
  border-radius: 8px !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  font-weight: 400;
}

.ant-table-wrapper .ant-table-container {
  border-radius: 0 0 8px 8px;
  border: 1px solid #0505050f;
}

.ant-table-wrapper .ant-table-content {
  border-radius: 8px;
}
.ant-table-wrapper .ant-table {
  font-size: 13px !important;
}
