**/build
**/db
!apps/scow-adapters/pkg/ai/db
!apps/scow-adapters/pkg/ai/db/**
!apps/scow-adapters/pkg/slurm/db
!apps/scow-adapters/pkg/slurm/db/**
**/node_modules
**/generated
**/.next
**/api-routes-schemas.json
**/.docusaurus
**/.turbo
internal
.pnpm-store
