**/node_modules
**/.next
**/generated
**/gen
**/db
apps/scow-adapters/gen/go
!apps/scow-adapters/**/db
**/build/
**/coverage/
.eslintcache
internal
!apps/scow-adapters/**/internal
.turbo
out
dist
version.json
.pnpm-store
.DS_Store
*.local*

.next.backup
.idea

