@font-face {
  font-family: 'MiSans';
  src: url('../../assets/fonts/MiSans-Regular.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('../../assets/fonts/MiSans-Medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: 'MiSans', system-ui;
  color: #434343;
}

h1 {
  font-weight: 400 !important;
}
